<div class="container">
    <div id="main-wrapper" class="zozo-row row">
        <div id="single-sidebar-container" class="single-sidebar-container main-col-full">
            <div class="zozo-row row">
                <div id="primary" class="content-area content-col-small">
                    <div id="content" class="site-content">

                        <div id="post-2078" class="post-2078 page type-page status-publish has-post-thumbnail hentry">
                            <div class="entry-thumbnail">
                                <img width="1300" height="800" src="https://w2studio.com.ua/wp-content/uploads/2016/01/blog-1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Ремонт под ключ в Киеве" srcset="https://w2studio.com.ua/wp-content/uploads/2016/01/blog-1.jpg 1300w, https://w2studio.com.ua/wp-content/uploads/2016/01/blog-1-300x185.jpg 300w, https://w2studio.com.ua/wp-content/uploads/2016/01/blog-1-768x473.jpg 768w" sizes="(max-width: 1300px) 100vw, 1300px" data-pagespeed-url-hash="653781746" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </div>
                            <div class="entry-content">
                                <section class="vc_row wpb_row vc_row-fluid vc-zozo-section typo-dark">
                                    <div class="zozo-vc-main-row-inner vc-normal-section">
                                        <div class="wpb_column vc_main_column vc_column_container vc_col-sm-12 typo-default">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p style="text-align: justify;"><strong>Ремонт квартиры под ключ в Киеве </strong>от компании W2Studio – это оптимальное решение для владельцев городской и загородной недвижимости, желающих получить комплексные услуги от профессионалов без поиска нескольких подрядчиков и лишней головной боли.</p>
                                                            <p style="text-align: justify;">В процессе ремонта: от приема заказа до полной сдачи объекта, строительная компания берет на себя максимум обязательств по организации и проведению работ – это позволяет выполнить запланированный работ в минимальное время с высокой эффективностью, практически не отвлекая владельца квартиры от его повседневной жизни.</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>


                                <section class="vc_row wpb_row vc_row-fluid vc_custom_1596826734113 vc-zozo-section typo-dark">
                                    <div class="zozo-vc-main-row-inner vc-normal-section">
                                        <div class="wpb_column vc_main_column vc_column_container vc_col-sm-12 typo-default">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <h2>Ремонт квартир под ключ – этапы работ</h2>
                                                            <p style="text-align: justify;"><strong><img class="alignleft size-full wp-image-6333" src="https://w2studio.com.ua/wp-content/uploads/2021/09/Remont-kvartir-pod-klyuch.jpg" alt="" width="400" height="600" srcset="https://w2studio.com.ua/wp-content/uploads/2021/09/Remont-kvartir-pod-klyuch.jpg 867w, https://w2studio.com.ua/wp-content/uploads/2021/09/Remont-kvartir-pod-klyuch-200x300.jpg 200w, https://w2studio.com.ua/wp-content/uploads/2021/09/Remont-kvartir-pod-klyuch-768x1152.jpg 768w" sizes="(max-width: 400px) 100vw, 400px" data-pagespeed-url-hash="4190755804" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">Качественный ремонт квартиры под ключ</strong> предусматривает только комплексный подход со стороны строительной компании, которая должна учитывать особенности конкретного объекта и индивидуальные пожелания заказчика.</p>
                                                            <p style="text-align: justify;"><strong>Основные этапы работ:</strong></p>
                                                            <p style="text-align: justify;"><strong>Разработка </strong><a href="https://w2studio.com.ua/dizajn-interera-kvartiry" target="_blank" rel="noopener">дизайн проекта</a><strong> квартиры</strong></p>
                                                            <p style="text-align: justify;">После обращения заказчика, проводится собеседование. В процессе обсуждения, определяются ключевые моменты предстоящего проекта. Специалисты выясняют требования и пожелания по планировке, отделке и оснащению помещений. Они определяют возможность реализации поставленных задач, а также предлагают собственные решения.</p>
                                                            <p style="text-align: justify;">Проводится обмер помещений, позволяющий создать трехмерную модель квартиры, для визуализации рассматриваемых решений. Выполняется согласование планов демонтажных/монтажных работ, выбор строительных и отделочных материалов, планов размещения сантехнического оборудования, проводки для подключения бытовой техники, а также мебели и декоративных элементов.</p>
                                                            <p style="text-align: justify;">На этапе разработки проекта составляется детализированная смета, учитывающая стоимость материалов и самих работ под ключ. Также согласовываются сроки выполнения всех этапов проекта.</p>
                                                            <p style="text-align: justify;"><strong>Демонтаж и установка перегородок</strong></p>
                                                            <p style="text-align: justify;">Выполняется <a href="https://w2studio.com.ua/demontazhnye-raboty" target="_blank" rel="noopener">демонтаж покрытий и коммуникаций</a>, вывозится строительный мусор, устанавливаются новые перегородки;</p>
                                                            <p style="text-align: justify;"><strong>Приобретение и доставка стройматериалов</strong></p>
                                                            <p style="text-align: justify;">По заранее согласованной смете, осуществляется покупка и доставка стройматериалов на объект, также специалисты привозят необходимый инструмент;</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>


                                <section class="vc_row wpb_row vc_row-fluid vc_custom_1631920205287 vc-zozo-section typo-dark">
                                    <div class="zozo-vc-main-row-inner vc-normal-section">
                                        <div class="wpb_column vc_main_column vc_column_container vc_col-sm-8 typo-default">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p style="text-align: justify;"><strong>Черновые работы</strong></p>
                                                            <p style="text-align: justify;">Специалисты выравнивают стены, полы, потолки. Проводится монтаж инженерных систем и коммуникаций (водоснабжения, канализации) прокладывается электропроводка, отопление. Выполняется оштукатуривание, установка гипсокартонных конструкций и стяжка пола;</p>
                                                            <p style="text-align: justify;"><strong>Монтажные работы</strong></p>
                                                            <p style="text-align: justify;">Устанавливаются подоконники, радиаторы отопления, межкомнатные двери, а также другие конструкции (зависит от изначального дизайн проекта квартиры);</p>
                                                            <p style="text-align: justify;"><strong>Чистовая отделка</strong></p>
                                                            <p style="text-align: justify;">Выполняются окончательные <a href="/otdelochnye-raboty">отделочные работы</a>: штукатурка, покраска, декорирование камнем или оклейка обоями стен, укладка напольных покрытий, монтаж осветительного оборудования, установка плинтусов, монтаж сантехнического и микроклиматического оборудования, уборка оставшегося мусора и его вывоз;</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                         </section>


                                <section class="vc_row wpb_row vc_row-fluid vc-zozo-section typo-dark">
                                    <div class="zozo-vc-main-row-inner vc-normal-section">
                                        <div class="wpb_column vc_main_column vc_column_container vc_col-sm-12 typo-default">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p style="text-align: justify;"><strong>Установка бытовой техники и мебели</strong></p>
                                                            <p style="text-align: justify;">После завершения активной фазы отделочных работ и подключения коммуникаций, устанавливается мебель и бытовая техника: сборка и монтаж кухонь, шкафов-купе, прихожих, спален и т.д. Кухонная раковина, ванная, душевая кабина, туалет, подключаются к водоснабжению и канализации.</p>
                                                            <p style="text-align: justify;">В зависимости от индивидуальных особенностей каждого проекта, этапы реализации и перечень предоставляемых услуг могут меняться.</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>


                                <section class="vc_row wpb_row vc_row-fluid vc_custom_1558655915129 vc-zozo-section typo-dark">
                                    <div class="zozo-vc-main-row-inner vc-normal-section">
                                        <div class="wpb_column vc_main_column vc_column_container vc_col-sm-12 typo-default">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="zozo-parallax-header">
                                                        <div class="parallax-header content-style-inline">
                                                            <p class="parallax-title text-left">Как мы работаем</p><div class="parallax-desc inline-style text-left">
                                                                <p>Все работы выполняются по договору и исключительно в сроки. Наша компания дает гарантию на ремонт в 1 год.</p>
                                                            </div>
                                                        </div>
                                                    </div><div class="zozo-content-carousel-wrapper">
                                                        <div id="zozo-content-carousel2" class="zozo-owl-carousel owl-carousel content-carousel-slider owl-theme owl-loaded owl-responsive-768" data-items="4" data-slideby="1" data-items-tablet="1" data-items-mobile-landscape="1" data-items-mobile-portrait="1" data-margin="0" data-autoplay="true" data-autoplay-timeout="5000" data-loop="true" data-pagination="false" data-navigation="true">
                                                            <div class="owl-stage-outer">
                                                                <div class="owl-stage" style="transform: translate3d(-2265px, 0px, 0px); transition: all 0.25s ease 0s; width: 6795px;">
                                                                    <div class="owl-item cloned" style="width: 755px; margin-right: 0px;">
                                                                        <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                                                            <div class="zozo-vc-row-inner vc-inner-row-section clearfix">
                                                                                <div class="wpb_column vc_column_inner vc_column_container vc_col-sm-12 typo-default">
                                                                                    <div class="vc_column-inner ">
                                                                                        <div class="wpb_wrapper">
                                                                                            <style type="text/css" scoped="">
                                                                                                #feature-box-11 .grid-item .grid-box-inner .grid-icon {
                                                                                                    color: #0a0a0a;
                                                                                                }
                                                                                            </style><div class="zozo-feature-box feature-box-style style-info-box style-box-without-bg style-sep-yes " id="feature-box-11"><div class="grid-item"><div class="grid-box-inner grid-text-center grid-box-exlarge grid-box-icon-circle grid-icon-shape grid-shape-rounded"><div class="grid-icon-wrapper no-hover shape-icon-circle"><i class="flaticon flaticon-house300 grid-icon zozo-icon icon-shape icon-circle icon-skin-default icon-bg pattern-1 icon-exlarge"></i></div><p class="grid-title-below grid-title text-center ">Подписываем договор</p></div></div></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><div class="owl-item cloned" style="width: 755px; margin-right: 0px;"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="zozo-vc-row-inner vc-inner-row-section clearfix"><div class="wpb_column vc_column_inner vc_column_container vc_col-sm-12 typo-default"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="zozo-feature-box feature-box-style style-info-box style-box-without-bg style-sep-yes " id="feature-box-12"><div class="grid-item"><div class="grid-box-inner grid-text-center grid-box-exlarge grid-box-icon-circle grid-icon-shape grid-shape-rounded"><div class="grid-icon-wrapper no-hover shape-icon-circle"><i class="flaticon flaticon-wrench59 grid-icon zozo-icon icon-shape icon-circle icon-skin-default icon-bg pattern-1 icon-exlarge"></i></div><p class="grid-title-below grid-title text-center ">Выполняем работу в сроки</p></div></div></div></div></div></div></div></div></div><div class="owl-item" style="width: 755px; margin-right: 0px;"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="zozo-vc-row-inner vc-inner-row-section clearfix"><div class="wpb_column vc_column_inner vc_column_container vc_col-sm-12 typo-default"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="zozo-feature-box feature-box-style style-info-box style-box-without-bg style-sep-yes " id="feature-box-8"><div class="grid-item"><div class="grid-box-inner grid-text-center grid-box-exlarge grid-box-icon-circle grid-icon-shape grid-shape-rounded"><div class="grid-icon-wrapper no-hover shape-icon-circle"><i class="flaticon flaticon-mobilephone31 grid-icon zozo-icon icon-shape icon-circle icon-skin-default icon-bg pattern-1 icon-exlarge"></i></div><p class="grid-title-below grid-title text-center ">Оставьте заявку</p></div></div></div></div></div></div></div></div></div><div class="owl-item active" style="width: 755px; margin-right: 0px;"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="zozo-vc-row-inner vc-inner-row-section clearfix"><div class="wpb_column vc_column_inner vc_column_container vc_col-sm-12 typo-default"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="zozo-feature-box feature-box-style style-info-box style-box-without-bg style-sep-yes " id="feature-box-9"><div class="grid-item"><div class="grid-box-inner grid-text-center grid-box-exlarge grid-box-icon-circle grid-icon-shape grid-shape-rounded"><div class="grid-icon-wrapper no-hover shape-icon-circle"><i class="flaticon flaticon-constructor4 grid-icon zozo-icon icon-shape icon-circle icon-skin-default icon-bg pattern-1 icon-exlarge"></i></div><p class="grid-title-below grid-title text-center ">Выезд специалиста на объект</p></div></div></div></div></div></div></div></div></div><div class="owl-item" style="width: 755px; margin-right: 0px;"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="zozo-vc-row-inner vc-inner-row-section clearfix"><div class="wpb_column vc_column_inner vc_column_container vc_col-sm-12 typo-default"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="zozo-feature-box feature-box-style style-info-box style-box-without-bg style-sep-yes " id="feature-box-10"><div class="grid-item"><div class="grid-box-inner grid-text-center grid-box-exlarge grid-box-icon-circle grid-icon-shape grid-shape-rounded"><div class="grid-icon-wrapper no-hover shape-icon-circle"><i class="fa fa-file-text-o grid-icon zozo-icon icon-shape icon-circle icon-skin-default icon-bg pattern-1 icon-exlarge"></i></div><p class="grid-title-below grid-title text-center ">Составляем смету (бесплатно)</p></div></div></div></div></div></div></div></div></div><div class="owl-item" style="width: 755px; margin-right: 0px;">
                                                                        <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                                                            <div class="zozo-vc-row-inner vc-inner-row-section clearfix">
                                                                                <div class="wpb_column vc_column_inner vc_column_container vc_col-sm-12 typo-default">
                                                                                    <div class="vc_column-inner ">
                                                                                        <div class="wpb_wrapper">
                                                                                            <style type="text/css" scoped="">
                                                                                                #feature-box-11 .grid-item .grid-box-inner .grid-icon {
                                                                                                    color: #0a0a0a;
                                                                                                }
                                                                                            </style><div class="zozo-feature-box feature-box-style style-info-box style-box-without-bg style-sep-yes " id="feature-box-11"><div class="grid-item"><div class="grid-box-inner grid-text-center grid-box-exlarge grid-box-icon-circle grid-icon-shape grid-shape-rounded"><div class="grid-icon-wrapper no-hover shape-icon-circle"><i class="flaticon flaticon-house300 grid-icon zozo-icon icon-shape icon-circle icon-skin-default icon-bg pattern-1 icon-exlarge"></i></div><p class="grid-title-below grid-title text-center ">Подписываем договор</p></div></div></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><div class="owl-item" style="width: 755px; margin-right: 0px;"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="zozo-vc-row-inner vc-inner-row-section clearfix"><div class="wpb_column vc_column_inner vc_column_container vc_col-sm-12 typo-default"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="zozo-feature-box feature-box-style style-info-box style-box-without-bg style-sep-yes " id="feature-box-12"><div class="grid-item"><div class="grid-box-inner grid-text-center grid-box-exlarge grid-box-icon-circle grid-icon-shape grid-shape-rounded"><div class="grid-icon-wrapper no-hover shape-icon-circle"><i class="flaticon flaticon-wrench59 grid-icon zozo-icon icon-shape icon-circle icon-skin-default icon-bg pattern-1 icon-exlarge"></i></div><p class="grid-title-below grid-title text-center ">Выполняем работу в сроки</p></div></div></div></div></div></div></div></div></div><div class="owl-item cloned" style="width: 755px; margin-right: 0px;"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="zozo-vc-row-inner vc-inner-row-section clearfix"><div class="wpb_column vc_column_inner vc_column_container vc_col-sm-12 typo-default"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="zozo-feature-box feature-box-style style-info-box style-box-without-bg style-sep-yes " id="feature-box-8"><div class="grid-item"><div class="grid-box-inner grid-text-center grid-box-exlarge grid-box-icon-circle grid-icon-shape grid-shape-rounded"><div class="grid-icon-wrapper no-hover shape-icon-circle"><i class="flaticon flaticon-mobilephone31 grid-icon zozo-icon icon-shape icon-circle icon-skin-default icon-bg pattern-1 icon-exlarge"></i></div><p class="grid-title-below grid-title text-center ">Оставьте заявку</p></div></div></div></div></div></div></div></div></div><div class="owl-item cloned" style="width: 755px; margin-right: 0px;"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="zozo-vc-row-inner vc-inner-row-section clearfix"><div class="wpb_column vc_column_inner vc_column_container vc_col-sm-12 typo-default"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="zozo-feature-box feature-box-style style-info-box style-box-without-bg style-sep-yes " id="feature-box-9"><div class="grid-item"><div class="grid-box-inner grid-text-center grid-box-exlarge grid-box-icon-circle grid-icon-shape grid-shape-rounded"><div class="grid-icon-wrapper no-hover shape-icon-circle"><i class="flaticon flaticon-constructor4 grid-icon zozo-icon icon-shape icon-circle icon-skin-default icon-bg pattern-1 icon-exlarge"></i></div><p class="grid-title-below grid-title text-center ">Выезд специалиста на объект</p></div></div></div></div></div></div></div></div></div>
                                                                </div>
                                                            </div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="fa fa-angle-left"></i></div><div class="owl-next" style=""><i class="fa fa-angle-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>


                                <section class="vc_row wpb_row vc_row-fluid vc-zozo-section typo-dark">
                                    <div class="zozo-vc-main-row-inner vc-normal-section">
                                        <div class="wpb_column vc_main_column vc_column_container vc_col-sm-12 typo-default">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <h2>В чем преимущества ремонта квартир под ключ</h2>
                                                            <p style="text-align: justify;">Решив <strong>сделать ремонт квартиры под ключ</strong>, заказчик получает сразу несколько преимуществ. К основным относят:</p>
                                                            <ul style="text-align: justify;">
                                                                <li>Подряд выполняет одна строительная компания, которая берет на себя все обязательства и ответственность: от момента проектирования до сдачи объекта – она не может переложить вину на других подрядчиков за низкое качество работ или несоответствие стройматериалов;</li>
                                                                <li>Экономия времени для заказчика – все детали обсуждаются еще на этапе проектирования, остальное выполняются без его участия;</li>
                                                                <li>Фиксированная стоимость, а также отсутствие простоев строителей.</li>
                                                            </ul>
                                                            <p style="text-align: justify;">Ремонт под ключ – оптимальное решение для владельцев жилья, желающих получить качественный результат с минимальным участием.</p>
                                                            <h2>Стоимость ремонта квартиры под ключ – цена</h2>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>


                                <section class="vc_row wpb_row vc_row-fluid vc_custom_1559522614777 vc_row-has-fill vc-zozo-section typo-dark">
                                    <div class="zozo-vc-main-row-inner vc-normal-section">
                                        <div class="wpb_column vc_main_column vc_column_container vc_col-sm-4 typo-default">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <style type="text/css" scoped="">
                                                        #zozo-pricing-table-1 .zozo-pricing-item .pricing-title {
                                                            color: #feb600;
                                                        }
                                                    </style><div id="zozo-pricing-table-1" class="zozo-pricing-table-wrapper vc-pricing-table pricing-bottom-spacing">
                                                        <div class="zozo-pricing-item">
                                                            <div class="pricing-plan-list pricing-box">
                                                                <div class="pricing-head"><p class="pricing-title ">Вторичка</p></div><div class="pricing-icon-wrapper"><i class="flaticon flaticon-hammer2 pricing-icon"></i></div><div class="pricing-features">
                                                                    <p>КАПИТАЛЬНЫЙ РЕМОНТ</p>
                                                                </div><div class="pricing-bottom"><div class="pricing-cost-wrapper"><div class="pricing-cost"><p>от 5900 грн/м2</p></div></div></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="wpb_column vc_main_column vc_column_container vc_col-sm-4 typo-default">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <style type="text/css" scoped="">
                                                        #zozo-pricing-table-2 .zozo-pricing-item .pricing-title {
                                                            color: #feb600;
                                                        }
                                                    </style><div id="zozo-pricing-table-2" class="zozo-pricing-table-wrapper vc-pricing-table pricing-bottom-spacing">
                                                        <div class="zozo-pricing-item">
                                                            <div class="pricing-plan-list pricing-box">
                                                                <div class="pricing-head"><p class="pricing-title ">Новостройка</p></div><div class="pricing-icon-wrapper"><i class="flaticon flaticon-adjusting pricing-icon"></i></div><div class="pricing-features">
                                                                    <p>РЕМОНТ “ПОД КЛЮЧ”</p>
                                                                </div><div class="pricing-bottom"><div class="pricing-cost-wrapper"><div class="pricing-cost"><p>от 5000 грн/м2</p></div></div></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="wpb_column vc_main_column vc_column_container vc_col-sm-4 typo-default">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <style type="text/css" scoped="">
                                                        #zozo-pricing-table-3 .zozo-pricing-item .pricing-title {
                                                            color: #feb600;
                                                        }
                                                    </style><div id="zozo-pricing-table-3" class="zozo-pricing-table-wrapper vc-pricing-table pricing-bottom-spacing">
                                                        <div class="zozo-pricing-item">
                                                            <div class="pricing-plan-list pricing-box">
                                                                <div class="pricing-head"><p class="pricing-title ">Новостройка</p></div><div class="pricing-icon-wrapper"><i class="flaticon flaticon-city36 pricing-icon"></i></div><div class="pricing-features">
                                                                    <p>ЭЛИТНЫЙ РЕМОНТ КВАРТИРЫ</p>
                                                                </div><div class="pricing-bottom"><div class="pricing-cost-wrapper"><div class="pricing-cost"><p>от 6000 грн/м2</p></div></div></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>


                                <section class="vc_row wpb_row vc_row-fluid vc-zozo-section typo-dark">
                                    <div class="zozo-vc-main-row-inner vc-normal-section">
                                        <div class="wpb_column vc_main_column vc_column_container vc_col-sm-8 typo-default">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p style="text-align: justify;">Стоимость выполнения ремонта прямо зависит от ряда ключевых факторов, а также индивидуальных пожеланий заказчика. К основным факторам, влияющим на формирование цены относят: стоимость используемых строительных материалов, тип и объемы предстоящих работ (размер помещения, к примеру, ремонт <a href="https://w2studio.com.ua/remont-odnokomnatnoj-kvartiry" target="_blank" rel="noopener">одно-</a>, <a href="https://w2studio.com.ua/remont-dvuhkomnatnoj-kvartiry" target="_blank" rel="noopener">двух-</a> или <a href="https://w2studio.com.ua/remont-trehkomnatnoj-kvartiry" target="_blank" rel="noopener">трехкомнатной квартиры</a> будет существенно отличаться), а также их сложность.</p>
                                                            <p style="text-align: justify;">Окончательная стоимость определяется только после составления детальной сметы и ее рассмотрения заказчиком. После подписания договора цена фиксируется и не меняется. Стоимость ремонта может меняться по инициативе заказчика, например, при необходимости использования других стройматериалов или выполнения дополнительных работ.</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="wpb_column vc_main_column vc_column_container vc_col-sm-4 typo-default">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="zozo-feature-box feature-box-style style-info-box style-box-with-bg style-sep-yes " id="feature-box-13">
                                                        <div class="grid-item">
                                                            <div class="grid-box-inner grid-text-center grid-box-exlarge grid-box-icon-none grid-shape-rounded">
                                                                <div class="grid-icon-wrapper no-hover shape-icon-none"><i class="flaticon flaticon-mobilephone31 grid-icon zozo-icon icon-none icon-skin-dark icon-bg pattern-1 icon-exlarge"></i></div><p class="grid-title-below grid-title ">Звоните к нам</p><div class="grid-desc" style="font-size:18;">
                                                                    <p>(067) 213 04 04</p>
                                                                </div><div class="grid-button"><a href="tel:0672130404" class="btn btn-fbox-more" title="" target="_self">Позвонить</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>


                                <section class="vc_row wpb_row vc_row-fluid vc-zozo-section typo-dark">
                                    <div class="zozo-vc-main-row-inner vc-normal-section">
                                        <div class="wpb_column vc_main_column vc_column_container vc_col-sm-12 typo-default">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p style="text-align: justify;">Наша компания выполняет ремонт под ключ по Киеву и Киевской области (<a href="/remont-kvartir-v-irpene">Ирпене</a> и <a href="https://w2studio.com.ua/remont-kvartir-v-buche">Буче</a>, Вышгороде, <a href="/remont-kvartir-v-beloj-czerkvi">Белой Церкви</a>, Борисполе, <a href="https://w2studio.com.ua/remont-kvartir-v-vishnevom">Вишнёвом</a>, Броварах). Свяжитесь с нами любым удобным для Вас способом и оставляйте заявку на бесплатный выезд прораба.</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>


                                <section class="vc_row wpb_row vc_row-fluid vc_custom_1586123270246 vc-zozo-section typo-dark">
                                    <div class="zozo-vc-main-row-inner vc-normal-section">
                                        <div class="wpb_column vc_main_column vc_column_container vc_col-sm-12 typo-default">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="vc_btn3-container vc_btn3-center">
                                                        <a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-classic vc_btn3-color-primary-bg" href="/tseny-i-uslugi" title="">Стоимость услуг</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div><!-- #content -->
                </div><!-- #primary -->

                <div id="sidebar" class="primary-sidebar sidebar pm-sidebar">
                    <div id="custom_html-2" class="widget_text widget widget_custom_html">
                        <p class="widget-title">Наши услуги</p><div class="textwidget custom-html-widget">
                            <div class="menu-services-menu-container">
                                <div class="menu">
                                    <div class="collapse in" id="demo1">
                                        <a href="/remont-kvartir-pod-klyuch.html" class="list-group-item pdf">Ремонт квартир под ключ</a>
                                        <a href="/remont-kvartir-v-novostrojke.html" class="list-group-item pdf">Ремонт квартир в новостройке</a>
                                        <a href="/otdelochnye-raboty.html" class="list-group-item pdf">Отделочные работы</a>
                                        <a href="/demontazhnye-raboty.html" class="list-group-item pdf">Демонтажные работы</a>
                                        <a href="/evroremont-kvartir.html" class="list-group-item pdf">Евроремонт</a>
                                        <a href="/remont-ofisov-v-kieve.html" class="list-group-item pdf">Ремонт офисов</a>
                                        <a href="/remont-kuhni.html" class="list-group-item pdf">Ремонт и дизайн кухни</a>
                                        <a href="/remont-krovli-kryshi.html" class="list-group-item pdf">Ремонт кровли крыш</a>
                                        <a href="/dizajn-interera-kvartiry.html" class="list-group-item pdf">Дизайн интерьера</a>
                                        <a href="/proektirovanie-domov.html" class="list-group-item pdf">Проектирование</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div id="custom_html-3" class="widget_text widget widget_custom_html">
                        <p class="widget-title">Обратный звонок</p><div class="textwidget custom-html-widget">
                            <div role="form" class="wpcf7" id="wpcf7-f2092-o2" lang="ru-RU" dir="ltr">
                                <div class="screen-reader-response"></div>
                                <form action="/remont-kvartir-pod-klyuch#wpcf7-f2092-o2" method="post" class="wpcf7-form" novalidate="novalidate">
                                    <div style="display: none;">
                                        <input type="hidden" name="_wpcf7" value="2092">
                                        <input type="hidden" name="_wpcf7_version" value="5.1.3">
                                        <input type="hidden" name="_wpcf7_locale" value="ru_RU">
                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f2092-o2">
                                        <input type="hidden" name="_wpcf7_container_post" value="0">
                                        <input type="hidden" name="g-recaptcha-response" value="03AGdBq24V0xXs_mWzC4446ur2GyTCHfQIvIykpp1-4atrRtkYxP1un9B-H6_jt-j94xsUU4e0FK3u5h-hYA-fp-8BdH6potoFHhX2yZKH68-HwXIf-gmmYuHKw80CM3DdJu1aIj2Csky8gYXCbYkf9pV1nBHwshQB8KLqDQ5QUKcbjNHH8cHwXxywHFh33hjYZFVIGH95UfUPjlCkNb5DrOnK6W9Go_AXXjAuguGJdCjHsh31T7kVYeywwMoLRrkQ9aCYW8h85FW1vYRseDkg5-qiY3wTK8DwTW9hwkPMJTyH34TJ-Lx6G6XDb2TE1h8tRw83aJL-x88OS9M4waOsqA4JMDUj1LbZER6ptD0lShCpyvyuB9wKdI1QvRnsoZGJxpO7RVkhZvMacuPcPrond4yQEwJ1BosMYUGkalxw_kHT2H9n9Optcw6dTQEphnRT_QLQ-2q8Livl">
                                    </div>
                                    <p><span class="wpcf7-form-control-wrap contact-name"><input type="text" name="contact-name" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Ваше имя"></span></p>
                                    <p><span class="wpcf7-form-control-wrap contact-tel"><input type="tel" name="contact-tel" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" placeholder="Ваш телефон"></span></p>
                                    <p><span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Сообщение"></textarea></span> </p>
                                    <p><input type="hidden" name="wpcf7tg_sending" value="1"></p>
                                    <p><input type="submit" value="Отправить" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader"></span></p>
                                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                                </form>
                            </div>
                        </div>
                    </div><div id="zozo_popular_posts-widget-3" class="widget zozo_popular_posts_widget">
                        <p class="widget-title">Последние новости</p>
                        <div id="zozo_latest_posts_widget" class="zozo-latest-posts">
                            <ul class="latest-posts-menu list-unstyled">

                                <li class="posts-item clearfix">
                                    <div class="latest-post-img">
                                        <img class="img-responsive latest-post-img" src="https://w2studio.com.ua/wp-content/uploads/2019/06/Kak-spryatat-vodoprovodnye-truby-v-vannoj-150x150.jpg" alt="Как спрятать водопроводные трубы в ванной – лучшие решения" data-pagespeed-url-hash="2798645059" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                    </div>
                                    <div class="latest-post-content">
                                        <p class="posts-title"><a href="https://w2studio.com.ua/kak-spryatat-vodoprovodnye-truby-v-vannoj-komnate-luchshie-resheniya" title="Как спрятать водопроводные трубы в ванной – лучшие решения">Как спрятать водопроводные трубы в ванной – лучшие решения</a></p>
                                    </div>
                                </li>


                                <li class="posts-item clearfix">
                                    <div class="latest-post-img">
                                        <img class="img-responsive latest-post-img" src="https://w2studio.com.ua/wp-content/uploads/2020/07/Dizajn-v-stile-loft-150x150.jpg" alt="Ремонт в стиле лофт" data-pagespeed-url-hash="523517383" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                    </div>
                                    <div class="latest-post-content">
                                        <p class="posts-title"><a href="https://w2studio.com.ua/remont-v-stile-loft" title="Ремонт в стиле лофт">Ремонт в стиле лофт</a></p>
                                    </div>
                                </li>


                                <li class="posts-item clearfix">
                                    <div class="latest-post-img">
                                        <img class="img-responsive latest-post-img" src="https://w2studio.com.ua/wp-content/uploads/2016/02/handy-bg-150x150.jpg" alt="Как подготовиться к ремонту – порядок работ" data-pagespeed-url-hash="2268301482" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                    </div>
                                    <div class="latest-post-content">
                                        <p class="posts-title"><a href="https://w2studio.com.ua/kak-podgotovitsya-k-remontu-poryadok-rabot" title="Как подготовиться к ремонту – порядок работ">Как подготовиться к ремонту – порядок работ</a></p>
                                    </div>
                                </li>


                                <li class="posts-item clearfix">
                                    <div class="latest-post-img">
                                        <img class="img-responsive latest-post-img" src="https://w2studio.com.ua/wp-content/uploads/revslider/home%201/slide-10-150x150.jpg" alt="Ошибки при ремонте – советы специалистов" data-pagespeed-url-hash="4055357197" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                    </div>
                                    <div class="latest-post-content">
                                        <p class="posts-title"><a href="https://w2studio.com.ua/rasprostranennye-oshibki-pri-remonte-sovety-speczialistov" title="Ошибки при ремонте – советы специалистов">Ошибки при ремонте – советы специалистов</a></p>
                                    </div>
                                </li>


                                <li class="posts-item clearfix">
                                    <div class="latest-post-img">
                                        <img class="img-responsive latest-post-img" src="https://w2studio.com.ua/wp-content/uploads/2020/07/Eko-trendy-v-remonte-150x150.png" alt="Тренды в эко ремонте" data-pagespeed-url-hash="512519468" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                    </div>
                                    <div class="latest-post-content">
                                        <p class="posts-title"><a href="https://w2studio.com.ua/trendy-v-eko-remonte" title="Тренды в эко ремонте">Тренды в эко ремонте</a></p>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div><!-- #sidebar -->


            </div>
        </div><!-- #single-sidebar-container -->


    </div><!-- #main-wrapper -->
</div>
